/*
btd website colors.
hsl(120, 16.50%, 15.50%)  dark green
hsl(32, 28.80%, 57.10%)   beige
hsl(55, 35.30%, 93.30%)   off-white
hsl(70, 11.50%, 79.60%)   text color
*/


.carousel {
  width: 100%;
  overflow: hidden;
  background-color:hsl(55, 35.30%, 93.30%);
}

.showcase-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 50vh;
}
#showcase1{
  object-position: bottom;
}
#showcase2{
  object-position: center;
}
#showcase3{
  object-position: center;
}
.showcase-captions{
  position: absolute;
  top: 18%;
  bottom: auto;
  text-align: center;
  max-width: 80%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
  .carousel,
  .carousel-image {
    max-height: 30vh;
  }
}